:root {
	--highlight: 0 0 4px #fff, 1px 0 0px #fff3, -1px 0 0px #fff3, 1px 1px 1px #000;
	--palette-colors-size: 16px;
	--palette-colors-in-row: 5;
	--chat-width: 440px;
	--chat-maxheight: 480px;
	--font-size: 16px;
	--backdrop-blur: 6px;
}

@font-face	{ font-family: Unifont; src: url('./font/Unifont.ttf') }
@font-face	{ font-family: Silkscreen; src: url("./font/Mac's Silkscreen.ttf") }



/* cursors */
* { cursor: url(./cursor/default.png) 1 1, auto }

input, #messages p
{ cursor: url(./cursor/text.png) 8 12.5, text }

button, input[type="checkbox"], input[type="range"], a, #palette *
{ cursor: url(./cursor/pointer.png) 1 1, pointer }



html body	{ background: #f5f5ff; margin: 0; font-size: var(--font-size); overflow: hidden }
iframe		{ overflow: visible !important; position: absolute !important } /* for iocaptcha */
textarea	{ color: #fff; background: #0000; font-size: var(--font-size) }

*				{ font-family: 'Unifont' }
.box *			{ text-shadow: 2px 2px #000; user-select: none }
.no-text-shadow { text-shadow: none }

h2, h3, strong, summary { margin-bottom: 0; font-family: Silkscreen, Unifont; font-weight: normal }
p				{ margin: 0 }
h2				{ font-size: 32px }
h2:first-child	{ margin: 0 }
h3, summary		{ font-size: 24px }
details > summary { font-size: 16px }
b				{ font-weight: normal; letter-spacing: 1px; text-shadow: 1px 0 0px #fff, 2px 2px 1px #000, 3px 2px 1px #000 !important }
a				{ color: #67b9fc; text-decoration: none }
a:hover			{ color: #fff; text-shadow: var(--highlight); text-decoration: underline }

.box {
	position: absolute;
	display: flex;
	color: #fff;
	background: #060606dd;
	border: 1px solid #666;
	border-bottom-width: 3px;
	border-radius: 6px;
	outline: 2px solid #000e;
	padding: 6px;
	backdrop-filter: blur(var(--backdrop-blur));
	box-shadow: inset 0 0 20px black;
	overflow: hidden
}
.win {
	width: -moz-available;
	width: 640px;
	height: 500px;
	padding: 16px
}

button {
	color: #fff;
	background: 0;
	border: 0;
	border-radius: 4px;
	padding: 6px;
	font-family: Unifont;
	font-size: var(--font-size);
}
button *		{ pointer-events: none }
button:hover	{ background: #fff3; border: 1px solid #fff6; padding: 5px; text-shadow: var(--highlight) }
button:active	{ transform: translateY(2px) }

#escMenu { top: 72% }
#esc button {
	height: fit-content;
	font-family: Unifont;
	font-size: var(--font-size);
	animation-name: outHover;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
#esc button:hover {
	letter-spacing: 0px;
	animation-name: inHover;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
@keyframes inHover  { from { letter-spacing: 0px } to { letter-spacing: 6px } }
@keyframes outHover { from { letter-spacing: 6px } to { letter-spacing: 0px } }

.button-icon:hover { opacity: 100%; background: #fff3; outline: 1px solid #fff6; text-shadow: var(--highlight) }
#toolbar button { padding: 1px; font-size: 0 }
#toolbar button:hover { padding: 0 }

img	{ width: min-content; image-rendering: pixelated }
canvas { image-rendering: pixelated }
.floaty-adocubes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -256px);
	pointer-events: none
}

input[type='text'], select {
	color: #fff;
	background: #000;
	border: 1px solid #555a;
	border-radius: 6px;
	outline: 2px solid #000;
	height: 26px;
	margin: 4px 2px;
	padding: 0 6px;
	font-family: 'Unifont';
	font-size: var(--font-size)
}
input[type="text"]:hover { background: 0 }
input[type="text"]:focus, select:focus { background: #000; outline-color: #fff }
input[type="range"] {
	background: #000;
	border: 1px solid #555a;
	border-radius: 8px;
	width: -moz-available;
	width: -webkit-fill-available;
	height: 8px;
	margin: 0;
	-webkit-appearance: none
}
input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar			{ background: 0; border-radius: 6px; height: 6px; width: 6px; margin: 6px }
::-webkit-scrollbar-thumb	{ background: #aaa; border-radius: 6px }
credits::-webkit-scrollbar	{ margin: 0 }

.credits		{ text-align: center; width: auto }
.credits tr td	{ padding: 0 6px }

/*.io-captcha { padding-top: 16px }*/

.winHeader		{ opacity: 100%; padding: 8px; font-size: 0 }
.winHeader *	{ pointer-events: none; }

.win, #uiCanvas, #esc, #inputMobile, #playerlist, #sign
{ display: none }

.center			{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) }
.round			{ border-radius: 50%; }
.scale:hover	{ transform: scale(2) }

#welcome	{ height: 0 }
#inputUsername, #inputPassword { width: -moz-available; width: -webkit-fill-available; margin: 6px 0 }

#crosshair { user-select: none }

#palette {
	top: 6px; right: 6px;
	width: calc(var(--palette-colors-size) * var(--palette-colors-in-row));
	height: min-content; 
	flex-wrap: wrap
}
#palette *		{ width: var(--palette-colors-size); height: var(--palette-colors-size) }
#palette *:hover{ box-shadow: 0 0 4px 2px #000; transform: scale(1.15) }
.selectedbox	{ z-index: 1; outline: 2px solid #fff }
#toolbar		{ bottom: 6px; left: 50%; transform: translate(-50%, 0); font-size: 0; gap: 6px }
#coordinates	{ top: 6px; left: 50%; transform: translate(-50%, 0); width: fit-content }
#chat			{ top: 6px; left: 6px; flex-direction: column; width: 450px; max-height: 264px; gap: 6px }
#inputChat		{ width: auto; margin: 0; margin-top: var(--box-padding) }
#messages		{ overflow-y: scroll; overflow-wrap: break-word }
#messages p		{ width: auto; user-select: text }
#playerlist		{ top: 46px; left: 50%; transform: translate(-50%, 0) }

#sign			{ bottom: 6px; right: 6px }
#signContent	{ width: 500px; height: 320px; resize: horizontal }

#escMenu		{ flex-direction: column; width: 320px }

#settingsContent {
	display: flex;
	background: #000a;
	border-radius: 6px;
	padding: 12px 24px;
	overflow: overlay;
}
#settingsContent section { width: -moz-available; width: -webkit-fill-available; flex-direction: column }
.set {
	display: flex;
	gap: 6px;
	align-items: center;
	animation-name: setOutHover;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1)
}
.set:hover {
	letter-spacing: 6px;
	text-shadow: var(--highlight);
	animation-name: setInHover;
	animation-duration: .25s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 1, 0, 1)
}
@keyframes setInHover  { from { letter-spacing: 0px } to { letter-spacing: 2px } }
@keyframes setOutHover { from { letter-spacing: 2px } to { letter-spacing: 0px } }
#customMovement *, #customSecondaryMovement * { width: 80px }