:root {
	--box-foreground: #fff;
	--box-background: rgb(0 0 0 / 72%);
	--box-background-blur: 6px;
	--box-padding: 6px;

	--win-padding: 16px;

	--chat-width: 440px;
	--chat-maxheight: 480px;
	--font-size: 14px;
}

@font-face {
	font-family: 'Cousine';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/cousine/v23/d6lIkaiiRdih4SpP_SQvzA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html body { background: #000; margin: 0; font-family: 'Cousine'; font-size: var(--font-size);}
iframe { position: absolute !important; overflow: visible !important; }

*		{ text-shadow: 1px 1px #000; }
p		{ margin: 0; }
h1		{ margin-bottom: 0; }
a		{ color: #90bcff; }
a:hover	{ font-weight: bold; }

button {
	color: var(--box-foreground);
	background: 0;
	border: 0;
	border-radius: 4px;
	padding: 6px;
	height: fit-content;
	font-family: 'Cousine';
	font-size: var(--font-size);
}

@keyframes buttonhover { from {letter-spacing: 0px;} to {letter-spacing: 2px;} }

button:hover {
	cursor: pointer;
	background: #fff3;
	outline: 1px solid #fff6;
	font-weight: bold;
	letter-spacing: 0px;
	animation-name: buttonhover;
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

*:focus					 { filter: drop-shadow(0 0 6px #000); }
input					 { color: #fff; background: #101010aa; border: 1px solid #505050aa; border-radius: 6px; height: 18px; padding: 2px 6px; }
input[type="text"]:hover { background: #202020aa; }
input[type="text"]:focus { background: #000; border: #fff; }
input[type="range"]		 { color: #000; background: #fff; outline: 0; width: -moz-available; width: -webkit-fill-available; margin: 0; }

::-webkit-scrollbar {
	background: var(--box-background);
	width: 6px;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 6px;
}

.box {
	position: absolute;
	color: var(--box-foreground);
	background: var(--box-background);
	backdrop-filter: blur(var(--box-background-blur));
	outline: 1px solid #000;
	border: 1px solid #555;
	border-radius: 6px;
	width: fit-content;
	padding: var(--box-padding);
}

.win		{ width: 600px; height: 80%; padding: var(--win-padding) }

.center		{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.hide		{ display: none; }

.icon		{ padding: 0; font-size: 0; }
.iconav 	{ padding: 4px; font-size: 0; }

.dropdown			 { background: var(--box-background); border-radius: 6px; width: fit-content; padding: 4px 6px; }
.dropdown-content	 { position: absolute; display: none; }

.io-captcha	{ padding-top: 16px }

.selectedbox {outline: 2px solid #fff; z-index: 1; }

#uiCanvas, #esc, .win { display: none; }

#itsEditTime		 { position: absolute; display: flex; flex-direction: column; align-items: flex-end; bottom: 6px; right: 6px; }
	#palette		 { position: relative; display: flex; width: fit-content; margin-top: 6px; }
	#palette *		 { width: 16px; height: 16px; }
	#palette *:hover { transform: scale(1.15); }
	#switchPlacement { position: relative ;font-size: 0; }
	#switchPlacement *:not(:last-child) { margin-right: var(--box-padding) }
#coordinates		 { top: 6px; left: 50%; width: fit-content; transform: translate(-50%, 0); }
#chat				 { bottom: 6px; left: 6px; width: var(--chat-width); max-height: var(--chat-maxheight); }
#messages			 { max-height: calc(var(--chat-maxheight) - (var(--box-padding)*4)); overflow-y: scroll; }
#inputChat			 { width: -moz-available; width: -webkit-fill-available; margin-top: 4px; }

#winWelcome			 { display: block; padding: 16px; width: 620px; height: auto;}
#inputUsername, #inputPassword { width: -moz-available ;width: -webkit-fill-available; margin: 6px 0; }

#winSettings 		 { overflow-y: scroll; }
#customMovement *	 { width: 72px; }

#esc div			 { display: flex; flex-direction: column; width: 320px; }