:root {
	--box-foreground: #fff;
	--box-background: rgb(0 0 0 / 64%);
	--box-background-blur: 6px;
	--box-padding: 6px;
	--chat-width: 420px;
	--chat-maxheight: 420px;
	--font-size: 14px;
}

@font-face {
	font-family: 'Cousine';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/cousine/v23/d6lIkaiiRdih4SpP_SQvzA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html body { background: #000; margin: 0; font-family: 'Cousine'; font-size: var(--font-size);}
iframe { position: absolute !important; overflow: visible !important; }

p { margin: 0; }
a { color: #90bcff; }

button {
	color: var(--box-foreground);
	background: 0;
	border: 0;
	border-radius: 2px;
	padding: 6px;
	height: fit-content;
	font-family: 'Cousine';
	font-size: var(--font-size);
	

}

@keyframes buttonhover { from {letter-spacing: 0px;} to {letter-spacing: 1px;} }

button:hover {
	background: #fff4;
	font-weight: bold;
	letter-spacing: 0px;
	animation-name: buttonhover;
	animation-duration: 0.08s;
	animation-timing-function: ease-out;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

*:focus					 { filter: drop-shadow(0 0 6px #000); }
input					 { color: #fff; background: #101010aa; border: 1px solid #505050aa; border-radius: 3px; height: 18px }
input[type="text"]:hover { background: #202020aa; }
input[type="text"]:focus { background: #000; border: #fff; }
input[type="range"]		 { color: #000; background: #fff; outline: 0; width: -moz-available; width: -webkit-fill-available; margin: 0; }

.box {
	color: var(--box-foreground);
	background: var(--box-background);
	backdrop-filter: blur(var(--box-background-blur));
	border: 1px solid #000;
	border-radius: 6px;
	width: fit-content;
	padding: var(--box-padding);
	position: absolute;
}

.win { width: 500px; height: 400px; }

.center			 { top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; }

.io-captcha		 { padding-top: 16px; padding-bottom: 0 !important; }

/* am thinking about moving most of them into their respective compenents */

#uiCanvas, #esc, .win { display: none; }

#palette		 { display: flex; bottom: 6px; right: 6px; width: fit-content; }
#palette *		 { width: 16px; height: 16px; }
#palette *:hover { transform: scale(1.05); outline: 2.5px solid #fff; filter: drop-shadow(0 0 6px #000); }
#coordinates	 { top: 6px; left: 50%; width: fit-content; transform: translate(-50%, 0); }
#chat			 { bottom: 6px; left: 6px; width: var(--chat-width); max-height: var(--chat-maxheight); }
#switchPlacement { top: 6px; right: 6px; }
#messages		 { max-height: calc(var(--chat-maxheight) - (var(--box-padding)*4)); overflow-y: scroll; }
#inputChat		 { width: -moz-available; width: -webkit-fill-available; margin-top: 4px; }

#winWelcome		 { display: block; padding: 16px; width: 620px; height: auto; }
#inputUsername, #inputPassword { width: -moz-available ;width: -webkit-fill-available; margin: 6px 0; padding: 0 3px; }

#esc			 { flex-direction: column; width: 320px; }