:root {
	--light-1: #484848;

	--highlight: 0 0 4px #fff, 1px 0 0px #fff3, -1px 0 0px #fff3, 1px 1px 1px #000;
	--palette-color-size: 16px;
	--palette-rows: 5;
	--chat-width: 440px;
	--chat-maxheight: 384px;
	--backdrop-blur: 6px;

	--box-background: radial-gradient(circle at 50% 0, #101010d4, #000000ed);
	--box-border: 1px solid var(--light-1);
	--box-outline: 2px solid #0e0e0e;
	--box-box-shadow: inset 0 0 16px 6px #000; /* oh how humorous */

	--box-transition-in: all 0.16s cubic-bezier(0, 1, 0.75, 1);
	--box-transition-out: all 0.16s cubic-bezier(1, 0, 1, 0.75);

	--window-max-height: 600px;
}

@font-face { font-family: "Unifont"; src: url("./font/unifont-15.0.01.otf") }
@font-face { font-family: "Unifont Upper"; src: url("./font/unifont_upper-15.0.01.otf") }
@font-face { font-family: "Silkado"; src: url("./font/Silkado.ttf") }
@font-face { font-family: "sfgSlightlySmallerFont"; src: url("./font/sfgSlightlySmallerFont.ttf") }
@font-face { font-family: "adocoords"; src: url("./font/adocoords.ttf") }

html body { background: #fff; margin: 0; overflow: hidden }

* { font-family: "Unifont Upper", "Unifont", monospace; text-shadow: 1px 1px #000 }
p { margin: 0 }
b, b * { font-weight: normal; letter-spacing: 1px; text-shadow: 1px 0px, 1px 1px #000, 2px 1px #000 }

h1, h2, h3, strong, summary { font-family: "Silkado", "Unifont"; font-weight: normal; margin: 0 }
h1 { font-size: 32px }
h2 { font-size: 24px }
h3 { font-size: 16px }

a			{ color: #9db8ff; text-decoration: none }
a *			{ height: auto; pointer-events: none }
a:hover		{ color: #fff; text-shadow: var(--highlight); text-decoration: underline }
a:active	{ opacity: 50% }

img, canvas { image-rendering: pixelated }

kbd {
	padding: 0 4px;
	background: #2a2a2a;
	color: #fff;
	border: 1px solid #999;
	border-bottom-width: 2px;
	border-left-color: #888;
	border-right-color: #888;
	border-bottom-color: #666;
	border-radius: 4px;
	text-shadow: none;
}
kbd:active {
	opacity: 32%;
}

::-webkit-scrollbar				{ width: 6px; height: 6px; background: 0; margin: 6px; background-clip: padding-box }
::-webkit-scrollbar-thumb		{ background: #fff4; margin: 6px; background-clip: padding-box }
::-webkit-scrollbar-thumb:hover	{ background: #fffa }



*	{ cursor: url("./cursor/auto.png"), auto }

button, a, input[type="range"], input[type="checkbox"]
	{ cursor: url("./cursor/pointer.png"), pointer }

*[title] *, * *[data-tooltip]
	{ cursor: url("./cursor/help.png"), help !important }

input[type="text"]
	{ cursor: url("./cursor/text.png") 10 16, text }



.socket-error {
	width: calc(100vw - 128px);
	height: calc(100vh - 128px);
	padding: 64px;
	background: url("./img/oh no background.png") #000;
	color: #f00;
	text-align: center;
	font-family: monospace;
	font-size: 24px;
	font-weight: 500;
	animation-name: ohno-loop;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ohno-loop {
	from { background-position: 0px 0px }
	to { background-position: 192px 76px }
}


.hide, .hide * { pointer-events: none }


.box {
	user-select: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 6px;
	color: #fff;
	background: var(--box-background);
	border: var(--box-border);
	border-bottom-width: 3px;
	border-radius: 6px;
	outline: var(--box-outline);
	box-shadow: var(--box-box-shadow);
	backdrop-filter: blur(var(--backdrop-blur));
	line-height: 1;
	transition: var(--box-transition-in);
}
.box.hide { opacity: 0; scale: 0; transition: var(--box-transition-out) }

.window {
	overflow: hidden;
	gap: 0;
	padding: 0;
	width: 600px;
	height: calc(100% - 16px);
	max-height: var(--window-max-height);
}
.window:not(.hide) {
	animation-name: window-open;
	animation-duration: 0.25s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.window > main {
	overflow-y: scroll;
	overflow: overlay;
	display: flex;
	flex-direction: column;
}
.window > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	padding: 6px 16px;
	background: #00000080;
	border-bottom: var(--box-border);

}
.window > header > div { display: flex; flex-direction: row; align-items: center; gap: 16px }
.window > header > span { position: absolute; left: 50%; transform: translateX(-50%) }
@keyframes window-open {
	from { opacity: 0; max-height: 0 }
	to { opacity: 1; max-height: var(--window-max-height) }
}

.tooltip {
	z-index: 4393;
	position: absolute;
	padding: 4px 8px;
	color: #fff;
	background: var(--box-background);
	border: var(--box-border);
	border-radius: 0 8px 8px 8px;
	outline: var(--box-outline);
	pointer-events: none;
}



button {
	margin: 2px;
	padding: 4px 12px 6px;
	color: #fff;
	background: #000a;
	border: var(--box-border);
	border-radius: 16px;
	outline: 2px solid #0e0e0e;
	font-size: 16px;
}
button:hover				{ background: #eef3; border: 1px solid #eef6; text-shadow: var(--highlight) }
button:active, button:focus { background: #eef3; outline: 1px solid #eef6; text-shadow: var(--highlight); }
button:focus:not(:active)	{ border: 1px solid #eef8; text-shadow: var(--highlight) }
button:active				{ opacity: 32% }
button[disabled]			{ opacity: 24% }

button * { pointer-events: none }

button.icon	{ padding: 4px; border-radius: 6px; line-height: 0 }
button.nav	{ padding: 8px }

button.esc {
	min-height: 32px;
	padding: 6px;
	border-radius: 16px;
	outline: 0;
	letter-spacing: 0px;
	transition: all .1s;
	transition-duration: .1s;
	animation-name: outHover;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
button.esc:hover {
	background: #eef3;
	outline: 2px solid #eef6;
	text-shadow: var(--highlight);
	letter-spacing: 8px;
	transition: none;
	animation-name: inHover;
	animation-duration: .3s;
	animation-fill-mode: both;
}
button.esc:active {
	padding: 6px;
	color: #fff;
	outline: 0;
	opacity: 50%;
	letter-spacing: 0px;
	animation-name: outHover;
	animation-duration: .5s;
}
@keyframes inHover  { from { letter-spacing: 0px } to { letter-spacing: 8px } }
@keyframes outHover { from { letter-spacing: 8px } to { letter-spacing: 0px } }

button.esc img {
	position: absolute;
	left: 16px;
	transform: rotateX(-360deg);
	transition: left 0.5s cubic-bezier(0, 1, 0, 1), transform 0.2s cubic-bezier(0, 0.64, 0, 0.64);
}
button.esc:hover span { left: calc(100% - 32px); transform: rotateX(360deg) }
button.esc:hover img { left: calc(100% - 32px); transform: rotateX(360deg) }



input[type='text'], select {
	min-height: 26px;
	margin: 2px;
	padding: 0 6px;
	width: 100%;
	color: #fff;
	background: #000;
	border: 1px solid #555a;
	border-radius: 6px;
	outline: 2px solid #000;
	font-size: 16px;

}

input[type="text"]:hover { background: 0 }
input[type="text"]:focus, select:focus { background: #000; outline-color: #fff }
input[type='range'] {
	width: 100%;
	height: 8px;
	margin: 0;
	background: #000;
	border: 1px solid #555a;
	border-radius: 8px;
	box-shadow: 0 0 0 2px #000;
	-webkit-appearance: none;
}
input[type="checkbox"] { width: 16px; height: 16px }



.center { position: absolute; top: 50%; left: 50%; translate: -50% -50% }

.blur-background		{ position: absolute; width: 100%; height: 100%; backdrop-filter: blur(6px); transition: backdrop-filter 0.32s cubic-bezier(0, 1, 0.75, 1) }
.blur-background.hide	{ backdrop-filter: blur(0) }